{{ ansible_managed | comment }}
# Read by kafka-connect.service through EnvironmentFile.

JAVA_HOME={{ kafka_connect_java_home }}
KAFKA_HEAP_OPTS=-Xms{{ kafka_connect_heap_size }} -Xmx{{ kafka_connect_heap_size }}
LOG_DIR={{ kafka_connect_log_dir }}
